* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    text-decoration: none;
}
body {
    background-color: black;
    display: flex;
    justify-content: center; /* Horizontally center the container */
    align-items: center
}

.container {
    margin-top: 5%;
    text-align: center;
    width: 23vw;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid rgb(0, 255, 166);
    box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.5)
}
.container:hover {
    /* transform: scale(1.02); */
}
.sign-in {
    padding: 20px;
    font-size: 3vw;
    font-weight: bold;
    color: rgb(5, 5, 5);
    /* text-decoration: underline rgb(0, 255, 166); */
}
input {
    width: 18vw;
    padding-left: 8px;
    height: 6vh;
    font-size: 1.2vw;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    color: white;
    border-radius: 8px;
    border: 2px solid rgb(0, 255, 166);
}

input[type="text"]:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 5px #66afe9; 
}

.check {
    margin-left: 14%;
    display: flex;
    gap: 5px;
}
.check p {
    color: white;
    margin-top: 10px;
}
.checkbox {
    width: 15px;
    height: 15px;
}

.login {
    background-color: rgb(0, 255, 166);
    width: 18vw;
    height: 6vh;
    font-size: 2vw;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    opacity: 0.8;
    color: white;
}
.login:hover {
    opacity: 1;
    /* transform: scale(1.01); */
    background-color: transparent;
    border: 2px solid rgb(0, 255, 166);
    color: rgb(0, 255, 166);
}
.login-option p {
    color: white;
    margin-top: 10px;
}
.login-option span {
    cursor: pointer;
    color:rgb(0, 255, 166);
}
.login-option span:hover {
    color: white;
}

@media(max-width: 600px) {
    body {
        display: flex;
        justify-content: center; /* Horizontally center the container */
        align-items: center
    }
    .container {
        height: 40vh;
        width: 90%;
    }
    .sign-in {
        padding: 20px;
        font-size: 10vw;
    }
    input {
        width: 70vw;
        height: 6vh;
        font-size: 4vw;
    }
    .check {
        margin-left: 10%;
        display: flex;
        gap: 3px;
    }
    .check p {
        color: white;
        margin-top: 8px;
    }
    .checkbox {
        width: 12px;
        height: 12px;
    }
    
    .login {
        width: 70vw;
        height: 6vh;
        font-size: 6vw;
    }
    .login-option p {
        color: white;
        margin-top: 8px;
    }
}


/**background animation */
.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, black 50%, rgb(177, 171, 171) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:3s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }